
.errorContainer {
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.errorMessage {
    background-color: #f8d7da;
    color: #721c24;

    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-align: center;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;

}

.closeButton {
    background: rgb(245, 245, 245);
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    color: #721c24;

    padding: 0;
    min-width: 242px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
}

.closeButton:hover {
    background-color: rgba(245, 245, 245, 0.6);
}